<div>
  <div>
    
    <div>
      <span>
        ようこそ、ながのCAKEへ！<br>
        このサイトは、ケーキ販売のECサイトになります。<br>
        会員でない方も商品の閲覧はできますが、<br>
        購入には会員登録が必要になります。
      </span>
    </div>
    
    <div>
      <h2>新着商品</h2>
      <div>
        <!--商品画像-->
        <!--商品名-->
        <!--税抜価格-->
      </div>
      <%= link_to "全ての商品を見る>>", public_items_path %>
    </div>
    
  </div>
</div>
