<div>
  <div>

    <h2>会員一覧</h2>

    <table>
      <thead>
        <tr>
          <th>会員ID</th>
          <th>氏名</th>
          <th>メールアドレス</th>
          <!--<th>ステータス</th>-->
        </tr>
      </thead>
      <tbody>
        <% @customers.each do |customers| %>
        <tr>
          <td><%= customers.id %></td>
          <td>
            <%= link_to admin_customer_path(customers.id) do %>
              <%= customers.full_name %>
            <% end %>
          </td>
          <td><%= customers.email %></td>
          <!--<td><= customers.is_active %></td>-->
        </tr>
        <% end %>
      </tbody>
    </table>

  </div>
</div>